<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slsd.dao.OrderDao">

	<select id="findall" resultType="com.slsd.entity.Order">
		select * from order order by orderId
	</select>
	
	<select id="findbyid" parameterType="int" resultType="com.slsd.entity.Order">
		select *from order where orderId=#{orderid}
	</select>
	
	<insert id="add" useGeneratedKeys="true" parameterType="com.slsd.entity.Order">
		insert into Flower (orderId,time,listid,price,username)
		values(#{orderID},#{time},#{listID},#{price},#{username})
	</insert>
	
	<delete id="del" parameterType="int">
		delete from order where
		orderId=#{orderid}
	</delete>
	
</mapper>