<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slsd.dao.OrderDao">

	<select id="findAll" resultType="com.slsd.entity.Order">
		select * from orders order by
		orderid
	</select>
	<select id="findByOrderid" parameterType="int" resultType="com.slsd.entity.Order">
		select
		*from orders where orderid=#{orderID}
	</select>
	<select id="findByUsername" parameterType="String" resultType="com.slsd.entity.Order">
		select
		*from orders where username=#{username}
	</select>
	<update id="editOrder" parameterType="com.slsd.entity.Order">
		update orders set
		listid=#{listID} , price =#{price} where orderid=#{orderID}
	</update>
	<insert id="addOrder" useGeneratedKeys="true" parameterType="com.slsd.entity.Order">
		insert
		into orders (time,listid,price,username)
		values(#{time},#{listID},#{price},#{username})
	</insert>

	<delete id="delOrder" parameterType="int">
		delete from orders where
		orderId=#{orderID}
	</delete>

</mapper>