.all{
	width: 1600px;
}
.m-top{
	height:50px;
	background-color: gainsboro;
	margin-top: -12px;
}
.m-top ul{
	margin-left: 110px;
	font-size: 12px;
	color: dimgrey;
}
.m-top ul li{
	float: left;
	list-style: none;
	margin-top: 17px;
	margin-left: 35px;
}
#m-top-1{
	margin-left: 1200px;
	font-size: 17px;
}
.m-top ul li a:link{
	color: black;
	text-decoration: none;
}
.s-top{
	width: 1600px;
	height: 200px;
	background :url(../img/stone.jpg);
}
.s-top ul{
	font-size: 16px;
	color: dimgrey;
	margin-left: 340px;
}
.s-top ul li{
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-left: 120px;
}
.s-top ul li a:link{
	color: dimgrey;
	text-decoration: none;
}
.center{
	width: 1200px;
	height: 800px;
	border: 1px solid dimgrey;
	margin-left: 200px;
	margin-top: 100px;
}
.center a:link{
	text-decoration: none;
	color: black;
}
.center ul{
	margin-left: 20px;
	margin-top: 30px;
}
.center ul li{
	float: left;
	list-style: none;
	margin-left: 40px;
}
#center-1{

	font-size: 35px;
}
#center-2{
	font-size: 35px;
}
.center-1{
	width: 1100px;
	height: 700px;
	border: 1px solid dimgrey;
	margin-left: 50px;
	margin-top: 90px;
}
.down{
	width: 1600px;
	height: 700px;
}
